/* reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* general styling */
  :root {
    --clr-primary-veryDarkBlue: hsl(238, 29%, 16%);
    --clr-primary-softRed: hsl(14, 88%, 65%);

    --clr-gradient-softViolet: hsl(273, 75%, 66%);
    --clr-gradient-softBlue: hsl(240, 73%, 65%);

    --clr-neutral-darkGrayishBlue: hsl(237, 12%, 33%);
    --clr-neutral-grayishBlue:  hsl(240, 6%, 50%);

    --clr-dividers-lightGrayishBlue: hsl(240, 5%, 91%);

    --ff: 'Kumbh Sans', sans-serif; 

    --fw-bold: 700;
    --fw-regular: 400;
  }

  body {
    font-family: var(--ff);
    font-size: 0.75rem;
    background-color: var(--clr-gradient-softViolet);
    display: grid;
    place-content: center;
  }

  .faq {
    background-color: white;
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-radius: 1.5rem;
  }

  .faq__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-1,
  .img-2 {
    position: absolute;
    top: -130px;
  }

  .img-1 {
    max-width: 230px;
  }

  .img-2 {
    top: -30px;
  }
  
  .faq__heading {
    font-size: 1.9rem;
    padding-top: 6.3rem;
    padding-bottom: 0.7rem;
    text-align: center;
  }

  .faq__item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.3rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--clr-dividers-lightGrayishBlue);
  }
  
